jobs:
 build:
    executor: python/default
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - python/install-packages:
          pip-dependency-file: requirements.txt
          pkg-manager: pip
      - python/install-packages:
          args: pytest
          pkg-manager: pip
          pypi-cache: false
      - run:
          command: |
            python --version
 publish:
    executor: python/default
    steps:
      - checkout
      - python/install-packages:
          pip-dependency-file: requirements.txt
          pkg-manager: pip      
      - python/dist
      - run: pip install twine && twine upload
orbs:
  python: circleci/python@1.2.0
version: 2.1
workflows:
  main:
    jobs:
      - build
      - publish
