jobs:
 build:
    executor: python/default
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - python/install-packages:
          pip-dependency-file: requirements.txt
          pkg-manager: pip
      - python/install-packages:
          args: pytest
          pkg-manager: pip
          pypi-cache: false

 publish:
    executor: python/default
    steps:
      - checkout
      - python/install-packages:
          pip-dependency-file: requirements.txt
          pkg-manager: pip      
      - python/dist
      - run: pip install --upgrade && pip install twine && twine upload
        name: Upload package
        command: scripts/circleci-pypi-publish.sh

orbs:
  python: circleci/python@1.2.0
version: 2.1

workflows:
  main:
    jobs:
      - build
      - pypi:
          requires:
            - build
          filters:
            branches:
              only: master
